body {
  color:#9d8f8f;
  background-color:#f9f9f9;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 200;
  line-height:20px;
}
.container {
  width: 800px;
  margin: 30px auto;
}
.card {
  background-color: #fff4e3;
  border-radius: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resize{
  font-size: 45px;
}


h1 {
  color:#f9f9f9;
  font-family:'Saira Extra Condensed', sans-serif;
  font-size:22px;
  line-height:28px;
  background-color: #900c3f;
  text-align: center;
  margin-top: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
h2 {
  color:#bcbab8;
  font-family:'Saira Extra Condensed', sans-serif;
  font-size:22px;
  line-height:26px;
  text-align: center;
}

h3 {
  color:#9d8f8f;
  font-family:'Saira Extra Condensed', sans-serif;
  font-size:22px;
  line-height:26px;
}

h4 {
  color:#900c3f;
  font-family:'Saira Extra Condensed', sans-serif;
  font-size:22px;
  line-height:26px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}
p {
  padding-bottom:12px;
  text-align: center;
}
a{
  color:#625757;
  text-decoration:blink;
}

a:hover
{ color:#900c3f;
}
img {
  width:200px;
  height:auto;
}
.profilepicture {
  border-radius: 10px;
  width:400px;
  height:auto;
  display: block;
  margin-right:auto;
  margin-left:auto;
}

.list-inline > li {
  display: inline-block;
  padding-left: 70px;
  padding-right: 70px;
  margin-right:auto;
  margin-left:auto;
}
.list-inline {
text-align: center;
padding-left: 0px;
}


@media (max-width: 1000px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 900px;
  }
}

